@page
@model WebApp.Pages.Admin.logoutModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Logout";
}

<h1>@ViewData["Title"]</h1>
<!--<button class="btn btn-primary"><a asp-page-handler="DeleteCookie" asp-page="./Index">Disconnect</a></button>-->

<form method="post">
    <button type="submit">Logout</button>
</form>

@if (!String.IsNullOrEmpty(Model.CookieValue))
{
    <h3>
        Cookie = @Model.CookieValue
    </h3>
}